@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/reset' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;  

.login {
  &__wrap {
    background-image: url('../../assets/images/images/login_hero.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    @include tablet {
      background-image: none;
      background-color: $rt1light;
    }
  }
  &__left{
    display: none;
    @include tablet {
      display: inline-block;
      width: 50%;
      height: 100%;
    }
  }
  &__right {
    margin: 1rem;
    padding: 2rem;
    background-color: rgb(244, 243, 246, 0.8);
    @include tablet {
      width: 50%;
    }
  }
  &__hero {
    display: none;
    @include tablet {
      display: inline-block;
      width: 100%;
      height: 80vh;
      object-fit: cover;
    }
    
  }
}