@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/reset' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;  

.gallery{

  &__wrapper {
    background-color: $background;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem
  }
}