// screen sizes
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

// colours
// $bfblack: #323232 ;
// $bfblue: #0095FF ;
// $silver: #AFAFAF ;
// $white: #FFFFFF ;
// $bfdarkblack: #000000 ;
// $bfdarkblue: #0065AD ;
// $mercury: #E1E1E1 ;
// $alabaster: #FAFAFA ;

$rt1dark: #2D3C5B;
$rt1mid: #34C3A1;
$rt1light: #F4F3F6;
$rt2dark: #6D7A7C;
$rt2mid: #E7AB3C;
$rt2light: #F4F3F6;