// screen sizes
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

// colours
// $bfblack: #323232 ;
// $bfblue: #0095FF ;
// $silver: #AFAFAF ;
// $white: #FFFFFF ;
// $bfdarkblack: #000000 ;
// $bfdarkblue: #0065AD ;
// $mercury: #E1E1E1 ;
// $alabaster: #FAFAFA ;

$rt1dark: #E7AB3c;
$rt1mid: #004643;
$rt1light: #abd1c6;
$rt2dark: #6D7A7C;
$rt2mid: #E7AB3C;
$rt2light: #F4F3F6;

$background: #004643;
$headline: #fffffe;
$paragraph: #abd1c6;
$button: #f9bc60;
$buttontext: #001e1d;
$illstroke: #001e1d;
$illmain: #e8e4e6;
$illhighlight: #f9bc60;
$illsecondary: #abd1c6;
$illtertiary: #e16162;

// $rt1dark: #2D3C5B;
// $rt1mid: #34C3A1;
// $rt1light: #F4F3F6;
// $rt2dark: #6D7A7C;
// $rt2mid: #E7AB3C;
// $rt2light: #F4F3F6;