// screen sizes
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

//colours
$background: #004643;
$headline: #fffffe;
$paragraph: #abd1c6;
$button: #f9bc60;
$buttontext: #001e1d;
$illstroke: #001e1d;
$illmain: #e8e4e6;
$illhighlight: #f9bc60;
$illsecondary: #abd1c6;
$illtertiary: #e16162;