@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.box {
  width: 90vw;
  background-color: $illsecondary;
  &__carousel {
    padding-top: 2rem;
  }
}

.photos {
  &__img {
    max-height: 60vh;
    max-width: 100%;
    object-fit: contain;
  }
}