@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.pageHeader {
  &__wrapper{ 
    background-color: $rt1mid;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
    flex-direction: row;
  
    }
  }
  &__logo{
    @include tablet {
      width: 40%;
      margin-left: 1rem;
    }
    &--mobile{
      @include tablet {
        display: none;
        margin-bottom: 1rem;
      }
    }
    &--tablet{
      @include mobile {
        display: none;
      }
      @include tablet {
        display: inline-block;
        margin-top: 0;
        width: 100%;
      }
    }
  }
  &__title {
    color: $rt1dark;
    font-size: 5rem;
  }
  &__nav{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-decoration: none;
    @include tablet {
      margin-right: 1rem;
      margin-top: 0;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
    }
    &--link{
      display: flex;
      justify-content: center;
      padding: 0.5rem;
      text-decoration: none;
      // gap: 0.5rem;
      color: $rt1dark;
      &:hover{
        font-weight: 700;
      }
    }
  }
  &__btn {
    background-color: $rt1mid;
    border: none;
  }
}

.icon {
  &__header {
    height: 4rem;
  }
}