@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.um{
  &__btn {
    width: 80%;
    background-color: $button;
    border: solid 3px red;
    margin: 2rem;
    @include tablet {
      width: 50%;
    }
    &:hover {
      color: $illtertiary;
    }
    @include m-h2;
    @include tablet {
      @include dt-h2;
    }
  }
}