@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/reset' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;  


.map{
  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;
  }
  &__container {
    width: 100%;
    height: 100vh;
    @include desktop {
      width: 70%;
      // height: 70vh;
    }
    
  }

}